* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  transition: all 1s;
}

nav {
  display: flex;
  align-items: center;
  /* background-color: rgb(160, 140, 140); */
  padding: 15px 10px;
}

main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
}

.account-balance {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

.transactions {
  background-color: rgb(231, 231, 231);
  width: 60%;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}

.transaction {
  background-color: rgb(248, 248, 248);
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  border-radius: 10px;
}

.actions {
  height: 500px;
}

.action {
  border: 1px solid grey;
}

footer {
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}